.homepage-bottom-blur {
  height: 5vh;
  background: linear-gradient(to top, rgb(18 15 23 / 82%), rgb(18 15 23 / 0%));
  mask-image: linear-gradient(to top, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 20%, transparent 100%);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}
